.game-card {
  height: 96px;
  margin-bottom: 50px;
}

.game-card-enabled:hover {
  background-color: goldenrod;
}

.game-card-disabled:hover {
  background-color: gray;
}

.game-iconX {
  padding-left: 32px;
  align-content: center;
  width: 32px;
  height: 32px;
}

