<!--The content below is only a placeholder and can be replaced.-->

<ng-container>

  <mat-toolbar class="toolbar" color="primary">

    <button md-icon-button mat-button><i class="material-icons md-48">menu</i></button>
    <!--  <button md-icon-button (click)="sidenav.toggle()"></button>￼-->

    <mat-icon svgIcon="thumbs-up"></mat-icon>

    <span>Profiles-NG</span>

<!--    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>-->
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <!-- Side nav -->
    <mat-sidenav
      class="sidenav"
      #sidenav mode="side"
      [fixedInViewport]="false"
      opened="true">
      <h1>test</h1>
    </mat-sidenav>

    <!-- Content -->
    <mat-sidenav-content>
      <h1>This is content</h1>
    </mat-sidenav-content>

  </mat-sidenav-container>
</ng-container>


