.sidenav-container {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: rgba(255, 0, 0, 0.5);
}

.toolbar
{
  margin-top: -8px;
  margin-left: -8px;

  margin-right: -16px;
  margin-bottom: 8px;
}
